In [ ]:
#导入外部数据
#外部数据地址：“C:\Users\h619224\Desktop\python\项目\excel_to_python(github project)\train_set.csv”

In [1]:
#导入Pandas库
import pandas as pd

In [4]:
#导入.csv 文件
df=pd.read_csv(r"C:\Users\h619224\Desktop\python\项目\excel_to_python(github project)\train_set.csv")

In [5]:
#利用head了解数据前几行，默认为前五行
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,43,management,married,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown,0
1,2,42,technician,divorced,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other,0
2,3,47,admin.,married,secondary,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown,0
3,4,28,management,single,secondary,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown,0
4,5,42,technician,divorced,secondary,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown,0

In [12]:
#如果数据与ipynb文件在同一个文件夹，可以直接用一下方法
df_1=pd.read_csv("train_set.csv")
print(df_1.head())

   ID  age         job   marital  education default  balance housing loan  \
0   1   43  management   married   tertiary      no      291     yes   no
1   2   42  technician  divorced    primary      no     5076     yes   no
2   3   47      admin.   married  secondary      no      104     yes  yes
3   4   28  management    single  secondary      no     -994     yes  yes
4   5   42  technician  divorced  secondary      no     2974     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome  y
0   unknown    9   may       150         2     -1         0  unknown  0
1  cellular    7   apr        99         1    251         2    other  0
2  cellular   14   jul        77         2     -1         0  unknown  0
3  cellular   18   jul       174         2     -1         0  unknown  0
4   unknown   21   may       187         5     -1         0  unknown  0

In [ ]:
#导入.xlsx文件时，需要注明sheet_name,sheet_name可以等于数字或“具体的名字”
#df_2=pd.read_excel("文件地址",sheet_name=0)

In [13]:
#head可以了解数据前几行,中间数字不填，默认为5行
df.head(2)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,43,management,married,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown,0
1,2,42,technician,divorced,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other,0

In [15]:
#shape可以了解数据的大小,以下数据为25317列，18行
df.shape

(25317, 18)

In [17]:
#info ,获取数据类型
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25317 entries, 0 to 25316
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         25317 non-null  int64
 1   age        25317 non-null  int64
 2   job        25317 non-null  object
 3   marital    25317 non-null  object
 4   education  25317 non-null  object
 5   default    25317 non-null  object
 6   balance    25317 non-null  int64
 7   housing    25317 non-null  object
 8   loan       25317 non-null  object
 9   contact    25317 non-null  object
 10  day        25317 non-null  int64
 11  month      25317 non-null  object
 12  duration   25317 non-null  int64
 13  campaign   25317 non-null  int64
 14  pdays      25317 non-null  int64
 15  previous   25317 non-null  int64
 16  poutcome   25317 non-null  object
 17  y          25317 non-null  int64
dtypes: int64(9), object(9)
memory usage: 3.5+ MB

In [18]:
#describe了解数值分布
df.describe()

,ID,age,balance,day,duration,campaign,pdays,previous,y
count,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000
mean,12659.000000,40.935379,1357.555082,15.835289,257.732393,2.772050,40.248766,0.591737,0.116957
std,7308.532719,10.634289,2999.822811,8.319480,256.975151,3.136097,100.213541,2.568313,0.321375
min,1.000000,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000,0.000000
25%,6330.000000,33.000000,73.000000,8.000000,103.000000,1.000000,-1.000000,0.000000,0.000000
50%,12659.000000,39.000000,448.000000,16.000000,181.000000,2.000000,-1.000000,0.000000,0.000000
75%,18988.000000,48.000000,1435.000000,21.000000,317.000000,3.000000,-1.000000,0.000000,0.000000
max,25317.000000,95.000000,102127.000000,31.000000,3881.000000,55.000000,854.000000,275.000000,1.000000